// lock scrolling when menu is open
.noscroll {
  body {
    overflow: hidden;
  }
}

// hide toggle on desktop
@include media('>small') {
  .menu-toggle {
    display: none;
  }
}

// set the media query and include all styles for mobile menu

@include media('<=small') {
  .menu-toggle {
    z-index: 99999;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  // target default WP menu container
  .main-navigation {
    overflow-x: hidden;
    max-width: 100%;
  }

  .menu-primary-menu-container {
    border: 10px $menu-boder-color solid;
    box-sizing: border-box;
    visibility: hidden;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    background: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    z-index: 99;
    opacity: 0;
    transition: 0.3s;
    &.open {
      visibility: visible;
      opacity: 1;
    }
  }

  .menu {
    visibility: hidden;
    transform: translateY(50px);
    transition: 0.3s;
    &.open {
      visibility: visible;
      transform: translateY(0);
    }
    list-style-type: none;
    padding: 0;
    width: min-content;
  }

  .menu-toggle {
    display: block;
    width: 50px;
    height: 56px;
    margin: 10px 10px 10px auto;
    transition: 0.5s ease-in-out;
    background: white;
    border: none;
    cursor: pointer;
    &:after {
      content: 'Menu';
      font-size: 12px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }
    &:focus,
    &:active {
      outline: orange 2px solid;
    }
  }

  .menu-open .menu-toggle:after {
    content: 'Close';
  }

  .menu-toggle span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: black;
    border-radius: 0;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    z-index: 99;
  }

  .menu-toggle span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .menu-toggle span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .menu-toggle span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  // when active
  .menu-open {
    .menu-toggle span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0px;
      left: 7px;
    }

    .menu-toggle span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    .menu-toggle span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 35px;
      left: 7px;
    }
  }
}
