@charset 'utf-8';

// begin main stylesheet and import all parts

// -- Rough structure outline below --

// // sass/
// |
// |– abstracts/
// |   |– _variables.scss    # Sass Variables
// |   |– _functions.scss    # Sass Functions
// |   |– _mixins.scss       # Sass Mixins
// |   |– _placeholders.scss # Sass Placeholders
// |
// |– base/
// |   |– _reset.scss        # Reset/normalize
// |   |– _typography.scss   # Typography rules
// |   …                     # Etc.
// |
// |– components/
// |   |– _buttons.scss      # Buttons
// |   |– _carousel.scss     # Carousel
// |   |– _cover.scss        # Cover
// |   |– _dropdown.scss     # Dropdown
// |   …                     # Etc.
// |
// |– layout/
// |   |– _navigation.scss   # Navigation
// |   |– _grid.scss         # Grid system
// |   |– _header.scss       # Header
// |   |– _footer.scss       # Footer
// |   |– _sidebar.scss      # Sidebar
// |   |– _forms.scss        # Forms
// |   …                     # Etc.
// |
// |– pages/
// |   |– _home.scss         # Home specific styles
// |   |– _contact.scss      # Contact specific styles
// |   …                     # Etc.
// |
// |– themes/
// |   |– _theme.scss        # Default theme
// |   |– _admin.scss        # Admin theme
// |   …                     # Etc.
// |
// |– vendors/
// |   |– _bootstrap.scss    # Bootstrap
// |   |– _jquery-ui.scss    # jQuery UI
// |   …                     # Etc.
// |
// `– main.scss              # Main Sass file

// import in order of specificity

// imports

// import abstracts
@import 'abstracts/colors';

// import base
@import 'base/_normalize';
@import 'base/_screen-reader';

// custom breakpoints has the breakpoints changed from default to small, medium, large
@import 'base/include-media';
@import 'base/custom-breakpoints';

// components
@import 'components/mobileMenu';

//vendors
// import AOS sass
@import '../../node_modules/aos/src/sass/aos.scss';

$primary-color: beige;

body {
  background-color: $primary-color;
}

// testing styles

.test-section {
  background-color: aquamarine;
  height: 40vh;
  display: grid;
  margin: 1em 0;
  place-items: center;
  p {
    font-size: 3em;
    color: red;
  }
}
